<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Chat Rooms</title>
    </head>
    <body>
        What chat room would you like to enter?<br>
        <input id="room-name-input" type="text" size="100"><br>
        <input id="room-name-submit" type="button" value="Enter">

        <form action="" id="dj_form" method="post">
            {% csrf_token %}
            {{ form }}
            <!-- <input type="text" name="amount" id="amount">
            <input type="date" name="date" id="date">
            <input type="text" name="description" id="description">
            <input type="text" name="category" id="category"> -->
            <input type="submit" value="Submit">
        </form>

        <canvas id="lineChart" class="chart" width="900" height="400"></canvas>





    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        // document.querySelector('#room-name-input').focus();
        // document.querySelector('#room-name-input').onkeyup = function(e) {
        // if (e.keyCode === 13) { // enter, return
        // document.querySelector('#room-name-submit').click();
        // }
        // };
        // document.querySelector('#room-name-submit').onclick = function(e) {
        // var roomName = document.querySelector('#room-name-input').value;
        // window.location.pathname = '/chat/' + roomName + '/';
        // };









        const chatSocket = new WebSocket(
            'ws://'+window.location.host+'/ws/chat/socket-server','echo-protocol'
        )
        

        // chatSocket.onmessage = function(e){
        //     const data = JSON.parse(e.data)
        //     document.querySelector('#chat-log').value += (data.message + '\n')
        // }
        chatSocket.onclose = function(e){
            console.log(e)
            console.error('chat room closed unexpectedly')
        }
        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data)
            console.log('MEssage recieved')
            o = Math.random()
            s = Math.random()
            values = [['Date', 'Amount'],[o, s]]
            lineChart.data.labels = ['Date', 'Amount']
            lineChart.data.datasets[0].data = [o, s]
            lineChart.update()
            console.log(values)
            console.log('UPDATE')
        }
        var form_data_raw = document.getElementById('dj_form');
        function send_message(){
            
            var form_data = new FormData(form_data_raw);
            var a = []
            for(const [key, value] of form_data.entries()) {
                console.log(key, value);
                if(key != 'csrfmiddlewaretoken'){
                    a.push(value);
                }
            }
            chatSocket.send(JSON.stringify({
                'message':a
            }))
            console.log('MESSAGE SENT SUCCESFULLy')
        }
        function test_interval(){
            k = Math.random()
            console.log(k)
            chatSocket.send(JSON.stringify({
                'message':k
            }))
        }
        // setInterval(test_interval, 2000)
        values = [[1,2,3,4,5,6],[11,22,33,44,55,66]]
        var ctx = document.getElementById("lineChart").getContext('2d');
        // console.log(values[0])
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: values[0],
                datasets: [
                    {
                        label: "Data Points",
                        data: values[1],
                        fill: false,
                        borderColor: 'rgb(255, 99, 132)',
                        lineTension: 0.1 
                    }
                    
                ]
            },
            options:{
                responsive: false,
            }
        });
    </script>
    </body>
</html>