<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Chat Rooms</title>
    </head>
    <body>

        <form action="" id="dj_form" method="post">
            {% csrf_token %}
            {{ form }}
            <!-- <input type="text" name="amount" id="amount">
            <input type="date" name="date" id="date">
            <input type="text" name="description" id="description">
            <input type="text" name="category" id="category"> -->
            <input type="submit" value="Submit">
        </form>

        <canvas id="lineChart" class="chart" width="900" height="400"></canvas>





    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        
        const chatSocket = new WebSocket(
            'ws://'+window.location.host+'/ws/chat/socket-server','echo-protocol'
        )
        
        chatSocket.onclose = function(e){
            console.log(e)
            console.error('chat room closed unexpectedly')
        }
        var val_list_dicts = []
        var req_values_xaxis = []
        var req_values_yaxis = []
        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data)
            console.log('MEssage recieved')
            for(key in data){
                val_list_dicts.push(data[key])
                req_values_xaxis.push(parseInt(data[key]['amount']))
                req_values_yaxis.push(data[key]['date'])
            }
            e_dict = {}
            e_list = []
            for(j in val_list_dicts){
                e_dict = {
                    y: parseInt(val_list_dicts[j]['amount']),
                    x: val_list_dicts[j]['date']
                }
                e_list.push(e_dict)
            }
            values = [req_values_xaxis, req_values_yaxis]
            // lineChart.data.datasets[0].data = e_list
            e_list.sort(function(a, b){
                return a.x - b.x
            })
            console.log(e_list)
            lineChart.data.datasets[0].data = e_list
            lineChart.update()
        }
        var form_data_raw = document.getElementById('dj_form');
        function send_message(){
            
            var form_data = new FormData(form_data_raw);
            var a = {}
            for(const [key, value] of form_data.entries()) {
                if(key != 'csrfmiddlewaretoken'){
                    a[key]=value
                }
            }
            console.log(a)
            chatSocket.send(JSON.stringify({
                'message':a
            }))
        }

        form_data_raw.addEventListener('submit', function(e){
            e.preventDefault();
            send_message();
            form_data_raw.reset();
        })
        function test_interval(){
            k = Math.random()
            chatSocket.send(JSON.stringify({
                'message':k
            }))
        }
        val_dict=[]
        var ctx = document.getElementById("lineChart").getContext('2d');
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: "Data Points",
                        data: val_dict,
                        fill: false,
                        borderColor: 'rgb(255, 99, 132)',
                        lineTension: 0.1 
                    }
                    
                ]
            },
            options:{
                responsive: false,
            }
        });
    </script>
    </body>
</html>