<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <title>Document</title>
    <script type="text/javascript" src="{% static 'website/vue.js' %}"></script>

</head>
<body>
    <!-- <div>
        <label for="cost">Cost:</label>
        <input id="cost" name="cost" type="number">

        <button type="submit">Add</button>
    </div>

    <div>
        <h1>table</h1>
    </div> -->
    
    <form action="/website/expenses/" method="post">
        {% csrf_token %}
        <label for="expense"></label>
        <input id="expense" name="expense" placeholder="Expenses" type="number">
    
        <label for="des"></label>
        <textarea id="des" name="des" placeholder="Reason for the Expense">
        </textarea>

        <button type="submit" value="submit">Add</button>

    </form>

    <script type="text/javascript" src="{% static 'website/main.js' %}"></script>
    
</body>
</html>