<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE HTML>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	{% load static %}
	<canvas id="lineChart" class="chart" width="900" height="400"></canvas>

<!-- <div id="chartContainer" style="height: 300px; width: 100%;"></div> -->
<div class="container m-5 p-5">
	<button id="chan" class="btn btn-primary">CLick</button>
</div>









<script src="{% static 'sat/js/index.js' %}"></script>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
</body>
</html>